html {
	font-family: Roboto,Arial,Helvetica,sans-serif;
	font-size: 100%;
}

article {
    max-width:1000px;
    margin:auto;
}

footer {
	font-size: 0.8rem;
    max-width:1000px;
    margin:auto;
}

h1 {
	font-size: 1.2rem;
	font-weight: normal;
	color:#2e2d62;
}

p {
	font-size: 0.8rem;
	color:#676767;
}